.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
  margin-top: -100px; /* Adjust the top margin */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto; /* Center the cards */
  max-width: 800px; /* Limit the maximum width of the cards */
  margin-top: -100px;
  
}

.card {
  background-color: #B57EDC;
  border-radius: 20px;
  box-shadow: 0 0 0 10px #282c34;
  flex-basis: calc(33.33% - 20px); /* Set the initial width of each card to one-third minus the gap */
  margin-bottom: 17px; /* Add vertical spacing between cards */
}

.python-card, .jest-card {
  flex-basis: calc(100% - 20px); /* Set the width of Python and Jest cards to full width */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  position: relative;
  display: block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 18px;
  text-decoration: none;
  color: #242020;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 30px;
  z-index: 1;
  transition: background-color 0.7s ease; /* Smooth transition effect */
}

.navbar a:hover {
  background-color: rgb(164, 149, 161);
}

* {
  box-sizing: border-box;
}

.navbar {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-color: #C0C0C0;
  z-index: 1;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 20px;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.LeftNav {
  border-radius: 20px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  padding-top: 3px;
  transform: translateY(100%) translateX(-100%);
  background-color: #C0C0C0;
  margin-right: 20px;
  height: 460px;
}

.LeftNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.LeftNav li {
  padding: 10px;
  text-align: center;
  
}

.LeftNav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 16px 8px;
  transition: background-color 0.7s ease; /* Smooth transition effect */
}

.LeftNav li a:hover {
  background-color: #a09696;
  transition: background-color 0.7s ease; /* Smooth transition effect */
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.Home-text {
  font-size: 25px;
  color: white;
  text-align: center;
  max-width: 62%; /* Set maximum width to 90% of the viewport width */
  margin: -100px auto 0; /* Center the container horizontally and add 40px of space above */
}


.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.card.css-1dmqq99-MuiPaper-root-MuiCard-root {
background-color: #9e9c9c;
padding-bottom: 10px;
margin-top: 15px;
margin-bottom: 50px;
transition: background-color 0.3s ease; /* Smooth transition effect */
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.card.css-1dmqq99-MuiPaper-root-MuiCard-root:hover {
  background-color: #ccc4bf;
}
